.main{
  margin: 2rem 5rem;
}

.text_em{
  padding: 2px;
  color: var(--background);
  background-color: var(--foreground);
  border-radius: 3px;
  font-weight: bold;
  font-style: italic;
}

.about_me_cont{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: var(--section_margin);

  .about_me_title{
    font-size: var(--fs_header);
    text-decoration: underline;
  }

  .about_me{
    margin: 1rem;
    font-size: var(--fs_p);
    line-height: 2rem;
  }
}

.skills_cont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  margin: var(--section_margin);

  .tech_skills_cont, .soft_skills_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tech_skills_title, .soft_skills_title{
    font-size: var(--fs_header);
    text-decoration: underline;
  }

  .tech_skills_list, .soft_skills_list{
    margin: 1rem;
    font-size: var(--fs_p);
    line-height: 2rem;
  }
}