.main{
  margin: 2rem 10rem;
}

.about_me_cont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .about_me_title{
    font-size: var(--fs_header);
  }

  .about_me{
    margin: 1rem;
  }
}